*{
  font-family: 'Open Sans', sans-serif;

}
h1{
text-decoration: underline;
color:red;
text-align: center;
align:center;
}
p{
text-align: center;

}
.container{

padding-bottom: 5em;
}
.pregunta_1{
  background-color:#A94233;
border: 1px solid white;
width: 30%;

}
.pregunta_2{
    background-color:#A94233;
border: 1px solid white;
width: 30%;
margin-left: 31%;
margin-top:-10.38%;

}
.pregunta_3{
    background-color:#A94233;
border: 1px solid white;
width: 30%;
margin-left: 62%;
margin-top:-10.38%;

}
.pregunta_4{
    background-color:#A94233;
border: 1px solid white;
width: 30%;

}
.pregunta_5{
    background-color:#A94233;
border: 1px solid white;
width: 30%;
margin-left: 31%;
margin-top:-10.38%;

}
.pregunta_6{
background-color:#A94233;
border: 1px solid white;
width: 30%;
margin-left: 62%;
margin-top:-10.38%;

}
#trivia{
border: 1px solid white;
padding-bottom: 5em;

}
.boton{
position: relative;
left: 40%;
top: 1em;
border-radius: 25px;
}
.despues{
position: absolute;
border:1px solid white;
left: 45em;
bottom: 5em;

}
#Correcta{
  display: none;
border: 1px solid black;
text-align: center;
background-color: #CFCACA;
}
#mensajes{
  display: none;
margin-top: 0.2em;
border: 1px solid black;
text-align: center;
background-color: #CFCACA;
}
#imagenes{
  display: none;
border: 1px solid black;
margin-left: 5em;
}
.green{
display: none;
width: 3%;
height: 3%;
}
.red{
display: none;
width: 4%;
height:4%;
}
#rendicion{
position: absolute;
top: -7em;
border: 1px solid black;
text-align: center;
background-color: #CFCACA;

}
footer{
  left;
}
